body {
  /* background-color: rgb(26, 25, 29); */
  background-color: black;
  color: white;
}

option {
  background-color: black;
  color: white;
  font-weight: bold;
}

@layer components {
  .btn {
    @apply text-white bg-purple-600
    px-4 py-2 rounded-md ring-purple-700 hover:ring-1  mt-8 
    font-bold focus:outline-none active:ring-purple-800;
  }

  .btn1 {
    @apply text-white bg-purple-600
    p-2  rounded-md ring-purple-700 hover:ring-1  mt-10 
    font-semibold focus:outline-none active:ring-purple-800;
  }

  .btn2 {
    @apply text-white bg-green-600
    p-2 rounded-md ring-green-700 hover:ring-1  mt-10 
    font-semibold focus:outline-none active:ring-green-800;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
